<div id="<%= dom_id document %>">
  <p>
    <strong>Type:</strong>
    <%= document.type %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= document.titre %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= document.auteur %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= document.isbn %>
  </p>

</div>






