<div id="<%= dom_id materiel %>">
  <p>
    <strong>Marque:</strong>
    <%= materiel.marque %>
  </p>

  <p>
    <strong>Os:</strong>
    <%= materiel.os %>
  </p>

   <p>
    <strong>reserve:</strong>
    <%= materiel.reserve %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= materiel.material_id %>
  </p>

</div>
